<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="col-sm-11 offset-sm-0 text-left" id="chatroom-title">
                <br>
                <h2>Cree una sala</h2>
            </div>
            <div class="col-sm-11 offset-sm-0 text-right" id="chatrooms">

                <div class="form-control">
                    <br>
                    <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
                        <div id="chatroom-errors">

                        </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
        <div class="col-sm-11 offset-sm-1 text-left" id="chatroom-title">
            <br>
            <h2>Salas de chat</h2>
            <ul id="chatroom-index">

                <% if @chatrooms.any? %>
                    <%=render @chatrooms%>
                        <%else %>
            </ul>
            <p>¡Sé el primero en crear una sala de chat!</p>
            <% end %>
        </div>
        </div>
    </div>
</div>