<div class="jumbotron">
    <h1>¡Bienvenidos a Electrodomésticos Syrinx!</h1>
    <p>El centro de atención oficial de la compañía</p>

    <p>Por favor, inicie sesión o regístrese para recibir apoyo de nuestro soporte.</p>
</div>